%% -*- erlang -*-
%% Config file for bit
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{port_specs, [{"priv/bit_nif.so", ["c_src/*.c"]}]}.

{port_envs, [
	     {"darwin", "CFLAGS", "$CFLAGS -arch i386 -arch x86_64"}
	    ]}.

{edoc_opts, [{doclet, edown_doclet},
	     {src_path, ["src/"]},
	     {subpackages, true}]}.