{so_name, "bit_nif.so"}.

{port_sources, ["c_src/*.c"]}.

{port_envs, [
             %% Make sure to set -fPIC when compiling leveldb
             {"CFLAGS", "$CFLAGS -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -Werror -I include"}
             ]}.

{edoc_opts, [{doclet, edown_doclet},
	     {src_path, ["src/"]},
	     {subpackages, true}]}.